[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[user]
    name = rjayasin
    email = rjayasin@users.noreply.github.com

[init]
    defaultBranch = main

[commit]
    verbose = true

[alias]
    psuh = push